.button{
    display: grid;
    grid-template-columns: repeat(4, 70px);
    row-gap: 10px;
    column-gap: 10px;
}
.button button{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: none;
    background-color: hsl(0 0 40%);
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.mainContainer{
    background-color: blue;
    width: 330px;
    padding: 15px
}
input{
    padding: 20px;
    width: 90%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}
.button2{
    display: grid;
    grid-template-columns: 140px 70px 70px 1fr;
    gap: 13px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: none;
    background-color: hsl(0 0 40%);
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.button2 .zero{
    width: 140px;
    background-color: hsl(0 0 40%);
    border-radius: 50px;
    border: none;

}
.button .sideButtonColour{
    background-color: cornflowerblue;
}